.film-list{
    text-align: center;
    margin: 2rem auto;

    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and(min-width:768px)and(max-width:1023px) {    
      width: 62rem;
    }  

   @media screen and(min-width:1024px) {
      width: 100rem;
    }
  .img-card {
    width: 100%;
  }

  .film-gallery{
      
    @media screen and(min-width:768px)and(max-width:1023px){
      width:calc((100% - 4 * 1.5rem)/2);
      margin: 1.5rem;
    }  

    @media screen and(min-width:1024px){
      width: calc((100% - 6 * 3rem)/3);
      margin: 3rem;
    }
    width: 28rem;
    margin: 0 auto;
    .film-card{
      margin: 1rem 0 2rem 0;
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.6rem;
      text-transform: uppercase;
      text-align: left;
      color: #000000;
      
      .film-genres{
        color: var(--borderOrange-color);
        text-transform: none;

        .vote-average{
            background-color:var(--borderOrange-color);
            color: var(--color-white);
            border-radius: 0.3rem;
            padding: 0.1rem;
        }
      }
    }
  }
}

