header{
    background:linear-gradient(0,var(--bg-color),var(--bg-color))
    , url('..//images/Rectangle_phone.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 23rem;

    @media screen and(max-width:767px) {
      padding:4.5rem 2rem;
    }

    @media screen and(min-width:768px) {
      padding:4.5rem 7.4rem;
    }

    @media screen and(min-width:768px)and(max-width:1023px){
      background: linear-gradient(0, var(--bg-color), var(--bg-color)),
       url('..//images/Rectangle_tablet.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media screen and(min-width:1024px) {
      background: linear-gradient(0, var(--bg-color), var(--bg-color)),
        url('..//images/Rectangle_decktop.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    nav{
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4.3rem;
        text-transform: uppercase;
        .logo{
          @media screen and(max-width:767px) {
            display: none;
          }
          font-style: normal;
          font-weight: 500;
          font-size: 3rem;
          color: var(--color-white);
          text-transform: none;
        }
        .menu{
          display: flex;
          .item a{
            color: var(--color-white);
            display: block;
          }
          .item a:hover, .item a:active, .current{
            border-bottom: 0.3rem solid var(--borderOrange-color);
          }
          .item:first-child{
            margin-right: 3.9rem;
          }
        }
    }
    form{
      text-align: center;
      input[type=text]::-ms-clear {
            display: none;
            width: 0;
            height: 0;
          }  
          input[type=text]::-ms-reveal {
            display: none;
            width: 0;
            height: 0;
          }
          input[type="search"]::-webkit-search-decoration,
          input[type="search"]::-webkit-search-cancel-button,
          input[type="search"]::-webkit-search-results-button,
          input[type="search"]::-webkit-search-results-decoration {
            display: none;
          }
        ::placeholder{
          color: var(--color-white);
          font-style: normal;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.6rem;
        }
    #search {
        font-family: var(--main-font);
        width: 28rem;

        @media screen and(min-width:768px) {
          width: 33.5rem;
        }
        background: transparent;
        color: var(--color-white);
        outline: none;
        border: none;
        border-bottom: 0.05rem solid var(--color-white);
      }
    #search:focus{
      border-bottom:0.05rem solid var(--borderOrange-color) ;
    }  
      .search{
          display: inline-block;
          position: relative;
      }
      .search::after{
        content:'';
        position: absolute;
        background-image: url('..//images/search.svg');
        background-repeat: no-repeat;
        background-size:cover;
        top: 0;
        right: 0;
        width: 1.2rem;
        height: 1.2rem;
      }
    }
}

.animation{
  animation: animate 2s ease-in-out;
  animation-iteration-count: infinite;
}
.animation:hover{
  animation-play-state: paused;
}

@keyframes animate{
  0%{
    transform: scale(0.7);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.7);
  }
}