:root {
    --bg-color: rgba(0, 0, 0, 0.56);
    --color-white:#fff;
    --main-font: 'Roboto', sans-serif;
    --borderOrange-color:#FF6B08;
    --color-black:#000000;
    --color-frontFooter:#545454;
}