<header class="libraryHeader">
    <nav class="nav">
        <a class="animation" href="./index.html">
            <svg width="24" height="24">
                <use id="home" href="./images/symbol-defs.svg#icon-film"></use>
            </svg>
            <span class="logo">Filmoteka</span>
        </a>
        <ul class="menu">
            <li class="item"><a href="./index.html">Home</a></li>
            <li class="item"><a class="current" href="./library.html">my library</a></li>
        </ul>
    </nav>
    <div class="button-library">
        <button>Watched</button>
        <button>queue</button>
    </div>
</header>